@import url('https://fonts.googleapis.com/css?family=Lato:300');
body{
  font-family: 'Lato', sans-serif;
}
.MMR{
  margin-top:150px;

}
.login-form{
margin-top: 100px;
}
.item-input{
  width: 100%;
}
input{
  width:100%;
}
