.background {
  background-image: url("default.png") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -0-background-size: cover;
  background-size: cover;

}
